<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

</head>

<body>
	<th:block th:include="/_headAdmin"></th:block>

	<section id="container" class="">

		<th:block th:include="/_headerAdmin"></th:block>
		<!--header end-->

		<!--sidebar start-->
		<th:block th:include="/_sidebarAdmin"></th:block>
		<!--sidebar end-->
		 <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
			<header class="panel-heading"> List Order </header>

			
     
		<table class="table table-striped table-advance table-hover">
				<tbody>
					<tr style="font-family: Times New Roman">
						<th> Mã Số Đơn</th>
						<th> Tên Khách Hàng</th>
						<th> Ngày Đặt Hàng</th>
						<th> Số Điện Thoại</th>
						<th> Địa Chỉ</th>
						<th> Email</th>
						<th> Tổng giá</th>
						<th> Hành Động</th>
					</tr>
					<div class="product-preview-container"
						th:each="orderInfo : ${paginationResult.list}">
						<tr >
						<td><p th:utext="${orderInfo.orderNum}"></p></td>
						<td><p th:utext="${orderInfo.customerName}"></p></td>
						<td><p th:utext="${#dates.format(orderInfo.orderDate,'dd-MM-yyyy HH:mm')}"></p></td>
						<td><p th:utext="${orderInfo.customerPhone}"></p></td>
						<td><p th:utext="${orderInfo.customerAddress}"></p></td>
						<td><p th:utext="${orderInfo.customerEmail}"></p></td>
						
							<td>
								<em class="item_price">
									<label>
										$<span th:utext="${#numbers.formatDecimal(orderInfo.amount,3,2,'COMMA')}"></span>
									</label>
								</em>
							<td>
								<div class="btn-group">
									
									<a class="btn btn-success" th:href="@{|/admin/order?orderId=${orderInfo.id}|}" style="font-family: Times New Roman">Chi tiết</a> 
									
								</div>
							</td>
						</tr>
						</div>
				
				</tbody>
				
			</table>	
			<div>Total Order Count: <span th:utext="${paginationResult.totalRecords}"></span></div>
			<div class="page-navigator" th:if="${paginationResult.totalPages > 1}" >
         <th:block th:each="page: ${paginationResult.navigationPages}">
            <a th:if="${page != -1}" class="nav-item"
               th:href="@{|/admin/orderList?page=${page}|}" th:utext="${page}"></a>
                
            <span th:if="${page == -1}" class="nav-item"> ... </span>
         </th:block>
      </div>
		
			
		</section>
		</section>
	</section>
</body>

</html>
